<head>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
    </style>  
</head>
<body>
    <div class="container-sm">
        
            <div class="container">
                <div class="row">
                  <div class="col align-self-start">                   
                  </div>
                  <div class="col align-self-center">
                    <br>
                    <br>
                    <h1>Cadastre-se</h1>
                    <br> 
                    <br>
                    <form  [formGroup]="form_cadastrar" (ngSubmit)="onSubmit()" >
                        <div class="mb-3">
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email" placeholder="E-mail">
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control" id="email_confirm" aria-describedby="emailHelp" formControlName="email_confirm" placeholder="Confirme seu e-mail" >
                            </div>
                        <div class="mb-3">
                        <input type="password" class="form-control" id="senha" formControlName="senha" placeholder="Senha" >
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" id="senha_confirm" formControlName="senha_confirm" placeholder="Confirme sua senha" >
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control" id="apelido" aria-describedby="emailHelp" formControlName="apelido" placeholder="Apelido" >
                        </div>
                    </form>
                    <br>
                    <p><button (click)="onSubmit()" type="submit" class="btn btn-dark">Confirmar</button></p>
                  </div>
                  <div class="col align-self-end">
                    
                  </div>
                </div>
              </div>
    </div>
</body>
