<head>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        .ng-invalid.ng-touched:not(form){

            border: 1px solid red;
        }
    </style>  
</head>
<body>
    <div class="container-sm">
        
            <div class="container">
                <div class="row">
                  <div class="col align-self-start">                   
                  </div>
                  <div class="col align-self-center">
                    <br>
                    <br>
                    <h1>Cadastre-se</h1>
                    <br> 
                    <br>
                    <form  [formGroup]="form_cadastrar" (ngSubmit)="onSubmit()" >
                        <div  class="mb-3" [ngClass]="aplicaCssErro('email')">
                        <div class="form-floating">
                            <input type="email" class="form-control" id="email"  aria-describedby="emailHelp" formControlName="email" placeholder="E-mail">
                            <label for="email">E-mail</label>
                            <div style="color:Tomato;" *ngIf=" !verificaValidTouched('email')">Insira um e-mail válido</div>
                        </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email_confirm" aria-describedby="emailHelp" formControlName="email_confirm" placeholder="Confirme seu e-mail" >
                                <label for="email_confirm">Confirme seu e-mail</label>
                                <div style="color:Tomato;" *ngIf=" !verificaCampoBate('email','email_confirm')">E-mails não são os mesmos</div>
                                </div>
                            </div>
                        <div class="mb-3" >
                            <div class="form-floating">
                                
                                <input type="password" class="form-control" id="senha" formControlName="senha" placeholder="Senha" >
                                <label for="senha">Senha</label>
                                <div style="color:Tomato;" *ngIf=" !verificaValidTouched('senha')">Por favor insira uma senha</div>
                            </div>
                        </div>
                        <div class="mb-3"  [ngClass]="aplicaCssErro('senha_confirm')">
                            <div class="form-floating">
                                
                                <input type="password" class="form-control" id="senha_confirm" formControlName="senha_confirm" placeholder="Confirme sua senha" >
                                <label for="senha_confirm">Confirme sua senha</label>
                                <div style="color:Tomato;" *ngIf=" !verificaCampoBate('senha','senha_confirm')">Senhas não são as mesmas</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-floating">
                                
                                <input type="email" class="form-control" id="apelido" aria-describedby="emailHelp" formControlName="apelido" placeholder="Apelido" >
                                <label for="apelido">Apelido</label>
                                <div style="color:Tomato;" *ngIf=" !verificaValidTouched('apelido')">Por favor insira uma apelido</div>
                            </div>
                        </div>
                        <br>
                        <p><button (click)="onSubmit()" type="submit" class="btn btn-dark" [disabled]="!form_cadastrar.valid||!verificaCampoBate('senha','senha_confirm')||!verificaCampoBate('email','email_confirm')">Confirmar</button></p>
                    </form>
                    <div class="alert alert-danger" role="alert" *ngIf="erro!=''">
                        {{erro}}
                    </div>
                  </div>
                  <div class="col align-self-end">
                    
                  </div>
                </div>
                
              </div>
    </div>
</body>
