
<div class="row" style="padding: 10px;text-align: justify;vertical-align:top">
    <div class="col-4" style="text-align: justify;"><i style="text-align: justify;color: rgb(119, 119, 119);"> O Sinal verde, permite a você assinante escolher quais jogos deseja ver no Windie e quais você acha que não deveriam estar aqui, navegue pela lista e vote já</i>

    </div>
    <div class="col" style="vertical-align:top">
        <i  class="bi bi-check-square" style="font-size: 42px;vertical-align: top;color: rgb(73, 163, 92);"></i>
    </div>
    <span class="border border-2"></span>
</div>
<app-catalogo-lista></app-catalogo-lista>
