<head>
    <style>
        h2 {text-align: center;}
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>  
</head>
<body>
    <div class="container-sm">
        
            <div class="container">
                <div class="row">
                  <div class="col align-self-start">                   
                  </div>
                  <div class="col align-self-center">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <form [formGroup]="form_cadastrar" >
                        <div class="mb-3">
                            <input  type="text" class="form-control" id="apelido" aria-describedby="apelido" placeholder="Apelido" formControlName="apelido"> 
                        </div>
                        <div class="mb-3">
                            <input *ngIf="(seDesenvolvedor())"  type="text" class="form-control" id="nomeDesenvolvedor" aria-describedby="nomeDesenvolvedor" placeholder="Nome de desenvolvedor" formControlName="nome_desenvolvedor">
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <input *ngIf="(seDesenvolvedor())" type="number" class="form-control" id="agencia" aria-describedby="agencia" placeholder="Agência" formControlName="agencia" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                            </div>
                            <div class="col-8">
                                <input *ngIf="(seDesenvolvedor())" type="number" class="form-control" id="conta" aria-describedby="conta" placeholder="Conta bancaria" formControlName="conta"   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                            </div>
                        </div>
                        <br>
                        <p><button (click)="onSubmit()" type="submit" class="btn btn-dark" [disabled]="!seValid()">Confirmar</button></p>
                    </form> 
                    <div class="alert alert-danger" role="alert" *ngIf="erro!=''">
                        {{erro}}
                    </div>
                    <br>
                    <br>
                    <span *ngIf="(!seAssinante())" class="badge bg-light text-dark">Conta sem assinatura</span>
                    <span *ngIf="(seAssinante())" class="badge bg-dark">Assinante</span>
                    <br>
                  </div>
                  <div class="col align-self-end">
                  </div>                  
                </div>                         
              </div>
    </div>
</body>
