<head>
    <style>
        h2 {text-align: center;}
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type=number] {
            -moz-appearance: textfield;
        }
        input:invalid {
            border: 1px solid red;
        }
    </style>  
</head>
<body>
    <div class="container-sm">
        
            <div class="container">
                <div class="row">
                  <div class="col align-self-start">                   
                  </div>
                  <div class="col align-self-center">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <form [formGroup]="form_cadastrar" >
                        <div class="mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="nomeDesenvolvedor" aria-describedby="nomeDesenvolvedor" placeholder="Nome de desenvolvedor" formControlName="nome_de_desenvolvedor">
                            <label for="nomeDesenvolvedor">Nome de desenvolvedor</label>
                        </div> 
                        </div>
                        <!-- <div class="row">
                            <div class="col-4">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="agencia" aria-describedby="agencia" placeholder="Agência" formControlName="agencia_bancaria" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                                    <label for="agencia">Agência</label>
                                </div> 
                            </div>
                            <div class="col-8">
                                <div class="form-floating"> 
                                    <input type="text" class="form-control" id="conta" aria-describedby="conta" placeholder="Conta bancaria" formControlName="conta_bancaria" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                                    <label for="conta">Nº da conta bancaria</label>
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email_paypal" aria-describedby="email_paypal" placeholder="Paypal" formControlName="email_paypal" />
                                    <label for="agencia" style="font-size: 13px;">E-mail do paypal para receber fundos</label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <p><button (click)="onSubmit()" type="submit" class="btn btn-dark" [disabled]="!form_cadastrar.valid">Confirmar</button></p>
                    </form>
                    <div class="alert alert-danger" role="alert" *ngIf="erro!=''">
                        {{erro}}
                    </div>
                    <br>
                    <p>Antes de começar a publicar jogos nos diga o nome do seu estúdio e forneça um e-mail do paypal por onde deseja receber os pagamentos</p>
                  </div>
                  <div class="col align-self-end">
                    
                  </div>
                  
                </div>
                
              </div>
    </div>
</body>

