<!doctype html>
<head>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  


</head>
<body>
  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" >Windie</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="Catalogo()" href="#">Jogos</a>
        </li>
        <li  *ngIf="seAssinante()">
          <a class="nav-link active" aria-current="page" (click)="JogosAprovacao()"  style="font-size: 13px;cursor: pointer;">Sinal verde</a>
        </li>
      </ul>
        <li  *ngIf="!seAutenticado()"><button (click)="CadastrarUsuario()" type="button" class="btn btn-light">Cadastre-se</button></li>
        <li  *ngIf="!seAutenticado()" ><button (click)="TelaLogin()" type="button" class="btn btn-outline-light">Entrar</button></li>
        <li  *ngIf="seAutenticado()&&!seAssinante()" ><button (click)="Assinar()" type="button" class="btn btn-light">Assine já</button></li>
        &nbsp;&nbsp;&nbsp;    
        <div *ngIf="seAutenticado()" class="dropdown">
          <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            {{ label_usuario }}
          </button>
          <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton2">
            <li><button (click)="EditarInformacoes()" class="dropdown-item" >Editar informações</button ></li>
            <li><button (click)="PublicarJogo()" class="dropdown-item">Publicar jogo</button></li>
            <li><button (click)="Painel()" class="dropdown-item" *ngIf="(seDesenvolvedor())">Painel</button></li>
            <li><hr class="dropdown-divider"></li>
            <li><button class="dropdown-item" (click)="Logout()">Sair</button></li>
          </ul>
        </div> 
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

</body>
<footer class="ft">&nbsp;&nbsp;Qualquer dúvida, sugestão ou reclamação deve ser enviada para nosso suporte em <i>WindieSoftware@hotmail.com</i> </footer>