<br>
<br>
<div class="container">
    <div class="row">
      <div *ngFor="let a of [0,1,2,3,4,6,7,8,9,10,11,12,]" class="col">
        <div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="Card title">Título do jogo</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Descrição breve</h6>
                  <p class="card-text">Descrição detalhada do jogo contendo parte de texto que se refere a gameplay, mecânicas...</p>
                </div>
              </div>       
        </div>
        <br>
      </div>
    </div>
  </div>