<br>
<br>
<div class="container">
    <div class="row">
      <div *ngFor="let jg of jogos" class="col">
        <div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="Card title">{{jg.titulo}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{jg.descricao}}</h6>
                  <p class="card-text">{{jg.detalhes}}</p>
                </div>
              </div>       
        </div>
        <br>
      </div>
    </div>
  </div>