<head>
    <style>
        h2 {text-align: center;}
        
    </style>  
</head>
<body>
    <div class="container-sm">
        
            <div class="container">
                <div class="row">
                  <div class="col align-self-start">                   
                  </div>
                  <div class="col align-self-center">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <form >
                        <div class="mb-3">
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Apelido" formControlName="nomeDesenvolvedor">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nome de desenvolvedor" formControlName="nomeDesenvolvedor">
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Agência" formControlName="nomeDesenvolvedor">
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Conta bancaria" formControlName="nomeDesenvolvedor">
                            </div>
                        </div>
                    </form>
                    <br>
                    <p><button (click)="onSubmit()" type="submit" class="btn btn-primary">Confirmar</button></p>
                    <br>
                    <br>
                    <span class="badge bg-danger">Sem assinatura válida</span>
                    <span class="badge bg-success">Assinatura válida</span>
                    <br>
                  </div>
                  <div class="col align-self-end">
                  </div>                  
                </div>                         
              </div>
    </div>
</body>
