<div class="card">
    <br><br>
    <div class="card-body">
      <b>Quanto tempo as pessoas jogaram seus jogos em {{mes_passado}}:</b> {{horas_jogadas}} horas
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <b>Faturado no mês de {{mes_passado}}:</b> R$ {{faturado}}
    </div>
  </div>
  <br><br><br>
  <div>
    <div *ngFor="let jogo of jogos"  class="card text-center">
        <div class="card-header">    
        </div>
        <div class="card-body" >
          <div class="row">
            <div class="col">
                <h5 style="text-align: left;" class="card-title">{{jogo.titulo}}  <span  *ngIf="jogo.visibilidade == 'RASCUNHO'" style="font-size: 10px;" class="badge bg-secondary">Rascunho</span><span *ngIf="jogo.visibilidade == 'PUBLICO'" style="font-size: 10px;" class="badge bg-dark">Publico</span></h5>
                <p style="text-align: left;"  class="card-text">{{jogo.descricao}}</p>
            </div>
            <div  style="vertical-align: middle;padding-top: 10px" class="col"> 
                <a  (click)="editarJogo(jogo.jogo_id)" class="btn btn-dark"><i class="bi bi-pencil" ></i>  Editar</a>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          
        </div>
      </div>
  </div>
